<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=res://*/EF.NWContext.csdl|res://*/EF.NWContext.ssdl|res://*/EF.NWContext.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;d3.aut.bme.hu, 8085&quot;;initial catalog=Northwind;persist security info=True;user id=tanf;password=TfUser16F1;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>